In [11]:
import pandas as pd
dt = pd.DataFrame(columns=["111", "112", "121",
                                "122", "123", "210", "220"])
print(dt)
test = {'111': 3430, '112': 426, '121': 214, '122': 202, '123': 298, '210': 21, '220': 2679}
dt.append(pd.Series(test, name='北京市'))

Empty DataFrame
Columns: [111, 112, 121, 122, 123, 210, 220]
Index: []

      111  112  121  122  123 210   220
北京市  3430  426  214  202  298  21  2679

In [16]:
import json
with open("assets/family_name.json") as f:
    task3 = json.load(f)
print(len(task3))

100

In [1]:
from datetime import datetime
start = datetime.now()
type(datetime.now() - start)

datetime.timedelta